.container{
    min-height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
}

.home-box{
    background:#1e1e2f;
    padding:50px;
    border-radius:12px;
    text-align:center;
    max-width:700px;
    width:100%;
    color:white;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.home-box h1{
    margin-bottom:10px;
}

.subtitle{
    color:#cfcfcf;
    margin-bottom:30px;
}

.action-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    text-decoration:none;
    background:#00bcd4;
    color:white;
    padding:12px 20px;
    border-radius:6px;
    transition:0.3s;
    font-weight:500;
}

.btn:hover{
    background:#0097a7;
}


@media (max-width:768px){

    .home-box{
        padding:30px 20px;
    }

    .action-buttons{
        flex-direction:column;
        gap:15px;
    }

    .btn{
        width:100%;
    }

}